AWS_SECRET_ACCESS_KEY='secretKeyHere'
AWS_ACCESS_KEY_ID='secretKeyIDHere'
AWS_REGION='us-east-1'
BUCKET='s3://my-billing'
ACCOUNT='1228885558'
#YEAR=$(date +%Y)
#MONTH=$(date +%m)
ES_HOST='elasticsearch'
ES_PORT=9200
